@import "../../styles.scss";

.navbar-nav {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100%;

    .nav-item {
        margin-right: 24px;
    }
}

.landing-page {
    .background-image {
        background-color: $color-secondary;
        background-image: url("../../assets/images/background-image.png");
        background-repeat: no-repeat;
        background-size: 100%;
        padding-bottom: 0;
    }

    .section-fold-two {
        .list-group {
            border: none;
            
            .list-group-item {
                border: none;
            }
        }

        .form-section {
            border: 1px solid #C4C4C4;
            border-radius: 8px;
            padding: 32px 8px;
        }
    }

    .section-fold-three {
        .image-section {
            .img-fluid {
                width: 600px;
            }
        }

        .app-feature-item {
            display: flex;
            align-items: center;

            .image {
                width: 60px;
                height: 60px;
                margin-right: 24px;
            }
        }
    }

    .section-fold-four {
        .testimonial-section {
            margin-top: 40px;
            
            .testimonial-item {
                background: rgba(84, 140, 168, 0.08);
                box-shadow: 0px 15px 60px rgba(0, 0, 0, 0.15);
                border-radius: 16px;
                padding: 24px;
                position: relative;

                .quote-item {
                    border-radius: 8px;
                    background-color: $color-primary;
                    color: #548CA8;
                    padding: 8px;
                    position: absolute;
                    top: -24px;
                }

                .testimonial-content {
                    font-size: 16px;
                }

                .testimonial-user-profile {

                    img {
                        width: 50px;
                        height: 50px;
                    }

                    .content {
                        margin-left: 24px;
                        
                    }
                }
            }
        }
    }

    .section-fold-five {
        .custom-accordian {

            .card {
                &:first-of-type {
                    border-top-left-radius: 16px;
                    border-top-left-radius: 16px;
                }

                &:last-of-type {
                    border-bottom-left-radius: 16px;
                    border-bottom-left-radius: 16px;
                }

                .card-header {
                    background-color: transparent;
                    border-bottom: none;

                    & .btn-link {
                        color: $text-color;
                        font-weight: 500;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        & .accordian-arrow {
                            width: 32px;
                            height: 32px;
                            border-radius: 50%;
                            background-color: #ECECEC;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }
            }
        }
    }
}