<nav class="navbar navbar-expand-lg navbar-light background-secondary">
    <a class="navbar-brand" href="#">Logo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Lorem Ipsum <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Lorem Ipsum</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Lorem Ipsum</a>
            </li>
        </ul>
        <button class="btn btn-primary">Login</button>
    </div>
</nav>

<div class="landing-page">
    <section class="background-secondary section background-image">
        <div class="row justify-content-center align-items-center m-0">
            <div class="col-sm col-lg-12 col-sm-12 order-lg-1 order-2">
                <div class="section-main-title text-center mx-4">
                    <p class="mb-0">Content Management Tool
                        <br>that is your one stop app
                    </p>
                </div>
                <div class="section-content text-center mr-lg-5 mr-md-5 mb-sm-2 mx-4">
                    <p class="mb-4">Craven omni memoria patriae zombieland clairvius narcisse religionis sunt diri
                        undead historiarum.
                    </p>
                </div>
                <div class="w-100 d-flex justify-content-center">
                    <button class="btn w-min-250 btn-primary mx-3">Sign Up</button>
                </div>

            </div>
            <div class="col-sm col-lg-12 col-sm-12 pr-0 order-lg-2 order-1">
                <div class="overview-image">
                    <img class="img-fluid" src="../../assets/images/landing-image.png" />
                </div>
            </div>
        </div>
    </section>
    <section class="section section-fold-two">
        <div class="row m-0 ">
            <div class="col-sm col-lg-5 col-sm-12 py-4">
                <div class="section-title">
                    <h3 class="mb-0 font-bold">What do we do</h3>
                    <div class="section-content mb-sm-2">
                        <p>Craven omni memoria patriae zombieland clairvius narcisse</p>
                    </div>

                </div>
                <ul class="list-group border-0">
                    <li class="list-group-item"> <img src="../../assets/icons/done_all_black_24dp.svg" /> Craven omni
                        memoria patriae zombieland clairvius narcisse</li>
                    <li class="list-group-item"> <img src="../../assets/icons/done_all_black_24dp.svg" /> Craven omni
                        memoria patriae zombieland clairvius narcisse</li>
                    <li class="list-group-item"> <img src="../../assets/icons/done_all_black_24dp.svg" /> Craven omni
                        memoria patriae zombieland clairvius narcisse</li>
                    <li class="list-group-item"> <img src="../../assets/icons/done_all_black_24dp.svg" />Craven omni
                        memoria patriae zombieland clairvius narcisse</li>
                </ul>
            </div>
            <div class="col-sm col-lg-7 col-sm-12">
                <div class="form-section">
                    <h4 class="mb-3 mx-4 font-bold">Fill in your details</h4>
                    <form class="mx-4">
                        <div class="row mb-3">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="First name">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Last name">
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" id="exampleFormControlInput1"
                                placeholder="Email Address">
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Phone">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="exampleInputPassword1"
                                placeholder="Password">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="exampleInputPassword1"
                                placeholder="Confirm Password">
                        </div>
                        <button type="submit" class="btn w-100 btn-primary">Submit</button>
                    </form>
                </div>

            </div>
        </div>
    </section>
    <section class="section section-fold-three background-primary">
        <div class="row m-0 ">
            <div class="col-sm col-lg-4 col-sm-12 py-4 pl-0">
                <div class="image-section">
                    <img class="img-fluid" src="../../assets/images/app-features-image.png" />
                </div>


            </div>
            <div class="col-sm col-lg-8 col-sm-12">
                <div class="section-title">
                    <h3 class="mb-0 font-bold">App Features</h3>
                    <div class="section-content text-white mb-sm-2">
                        <p>Craven omni memoria patriae zombieland clairvius narcisse</p>
                    </div>
                    <div class="row m-0 ">
                        <div class="col-sm col-lg-6 col-sm-12">
                            <div class="app-feature-item my-3">
                                <img class="image" src="../../assets/icons/app-icon.png" />
                                <div class="content">
                                    <h6>CRM Form Creations</h6>
                                    <div class="section-content mb-sm-2">
                                        <p>Craven omni memoria patriae zombieland clairvius narcisse</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm col-lg-6 col-sm-12">
                            <div class="app-feature-item my-3">
                                <img class="image" src="../../assets/icons/app-icon.png" />
                                <div class="content">
                                    <h6>CRM Form Creations</h6>
                                    <div class="section-content mb-sm-2">
                                        <p>Craven omni memoria patriae zombieland clairvius narcisse</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm col-lg-6 col-sm-12">
                            <div class="app-feature-item my-3">
                                <img class="image" src="../../assets/icons/app-icon.png" />
                                <div class="content">
                                    <h6>CRM Form Creations</h6>
                                    <div class="section-content mb-sm-2">
                                        <p>Craven omni memoria patriae zombieland clairvius narcisse</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm col-lg-6 col-sm-12">
                            <div class="app-feature-item my-3">
                                <img class="image" src="../../assets/icons/app-icon.png" />
                                <div class="content">
                                    <h6>CRM Form Creations</h6>
                                    <div class="section-content mb-sm-2">
                                        <p>Craven omni memoria patriae zombieland clairvius narcisse</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm col-lg-6 col-sm-12">
                            <div class="app-feature-item my-3">
                                <img class="image" src="../../assets/icons/app-icon.png" />
                                <div class="content">
                                    <h6>CRM Form Creations</h6>
                                    <div class="section-content mb-sm-2">
                                        <p>Craven omni memoria patriae zombieland clairvius narcisse</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm col-lg-6 col-sm-12">
                            <div class="app-feature-item my-3">
                                <img class="image" src="../../assets/icons/app-icon.png" />
                                <div class="content">
                                    <h6>CRM Form Creations</h6>
                                    <div class="section-content mb-sm-2">
                                        <p>Craven omni memoria patriae zombieland clairvius narcisse</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section-fold-four">
        <div>
            <div class="section-main-title text-center mx-4">
                <p class="mb-0">Clients are Loving Our App
                </p>
            </div>
            <div class="section-content text-center mr-lg-5 mr-md-5 mb-sm-2 mx-4">
                <p class="mb-4">Craven omni memoria patriae zombieland clairvius narcisse religionis sunt diri
                    undead historiarum.
                </p>
            </div>
        </div>
        <div class="row m-0 ">
            <div class="col-sm col-lg-4 col-sm-12">
                <div class="testimonial-section">
                    <div class="testimonial-item">
                        <span class="quote-item"><span class="material-icons">
                                format_quote
                            </span></span>
                        <div class="testimonial-content">
                            <p>“Id mollis consectetur congue egestas egestas suspendisse blandit justo. Tellus augue
                                commodo id quis tempus etiam pulvinar at maecenas.”</p>
                        </div>
                        <div class="testimonial-user-profile">
                            <div class="d-flex justify-content-center">
                                <img src="../../assets/images/user-image.png" />
                                <div class="content">
                                    <h6>Andry Ford</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm col-lg-4 col-sm-12">
                <div class="testimonial-section">
                    <div class="testimonial-item">
                        <span class="quote-item"><span class="material-icons">
                                format_quote
                            </span></span>
                        <div class="testimonial-content">
                            <p>“Id mollis consectetur congue egestas egestas suspendisse blandit justo. Tellus augue
                                commodo id quis tempus etiam pulvinar at maecenas.”</p>
                        </div>
                        <div class="testimonial-user-profile">
                            <div class="d-flex justify-content-center">
                                <img src="../../assets/images/user-image.png" />
                                <div class="content">
                                    <h6>Andry Ford</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm col-lg-4 col-sm-12">
                <div class="testimonial-section">
                    <div class="testimonial-item">
                        <span class="quote-item"><span class="material-icons">
                                format_quote
                            </span></span>
                        <div class="testimonial-content">
                            <p>“Id mollis consectetur congue egestas egestas suspendisse blandit justo. Tellus augue
                                commodo id quis tempus etiam pulvinar at maecenas.”</p>
                        </div>
                        <div class="testimonial-user-profile">
                            <div class="d-flex justify-content-center">
                                <img src="../../assets/images/user-image.png" />
                                <div class="content">
                                    <h6>Andry Ford</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>