<div class="dashboard">
    <header>
        <div class="d-flex justify-content-flex-end">
            <div class="d-flex align-items-center py-3 px-3">
                <form class="form-inline d-flex align-items-center search-item-align my-2 my-lg-0">
                    <span class="material-icons">
                        search
                    </span>
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                </form>
                <div class="user-profile d-flex align-items-center ml-4">
                    <img class="user-image" src="" />
                    <div class="user-content d-flex align-items-center">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Alex Tunner
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <aside class="vertical-sidebar vertical-sidebar-fixed">
        <div class="navbar-vertical-container background-primary">
            <nav class="navbar navbar-expand-lg navbar-vertical">
                <a class="navbar-brand text-white border-bottom pb-4 mb-3" href="#">logo</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <span class="material-icons">
                                insights
                            </span> <a class="nav-link" href="#">Overview</a>
                        </li>
                        <li class="nav-item">
                            <span class="material-icons">
                                dashboard_customize
                            </span> <a class="nav-link" href="#">Forms Management</a>
                        </li>
                        <li class="nav-item">
                            <span class="material-icons">
                                feed
                            </span> <a class="nav-link" href="#">Invoice Management</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </aside>
    <main class="px-4">
        <header>
            <div class="d-flex justify-content-space-between">
                <div class="mr-4">
                    <h5>Customer Westside</h5>
                    <p>Craven omni memoria patriae zombieland clair narcisse religionis sunt diri undead historiarum.
                        Craven omni memoria patriae zombieland clairvius narcisse religionis sunt</p>
                </div>
                <div class="d-flex align-items-center">
                    <button class="btn btn-primary mr-3">Preview</button>
                    <button class="btn btn-secondary">Edit</button>
                </div>
            </div>
        </header>
        <section>
            <div class="row charts-section">
                <div class="col-sm col-lg-5 col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <h5>New entries</h5>
                            <img class="img-fluid" src="../../assets/images/demo-chart-one.png" />
                        </div>
                    </div>
                </div>
                <div class="col-sm col-lg-7 col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <h5>New entries</h5>
                            <img class="img-fluid" src="../../assets/images/demo-chart-two.png" />
                        </div>
                    </div>
                </div>
            </div>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Contact</th>
                        <th scope="col">Date</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Lindsey Stroud</th>
                        <td>Zlindsey.stroud@gmail.com</td>
                        <td>+013145813</td>
                        <td>12/09/2019</td>
                        <td>
                            <div class="d-flex">
                                <button class="btn btn-sm btn-primary mr-2" data-toggle="modal"
                                    data-target="#exampleModal">View More</button>
                                <button class="btn btn-sm btn-seondary"><span class="material-icons">
                                        download
                                    </span></button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Lindsey Stroud</th>
                        <td>Zlindsey.stroud@gmail.com</td>
                        <td>+013145813</td>
                        <td>12/09/2019</td>
                        <td>
                            <div class="d-flex">
                                <button class="btn btn-sm btn-primary mr-2">View More</button>
                                <button class="btn btn-sm btn-seondary"><span class="material-icons">
                                        download
                                    </span></button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Lindsey Stroud</th>
                        <td>Zlindsey.stroud@gmail.com</td>
                        <td>+013145813</td>
                        <td>12/09/2019</td>
                        <td>
                            <div class="d-flex">
                                <button class="btn btn-sm btn-primary mr-2">View More</button>
                                <button class="btn btn-sm btn-seondary"><span class="material-icons">
                                        download
                                    </span></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <h5 class="modal-title" id="exampleModalLabel">User Detail</h5>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
                        magni dolores eos </p>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row m-0">
                    <div class="col-sm col-lg-6 col-sm-12 mb-2">
                        <h6>Name</h6>
                        <p class="font-bold">Lindsey Stroud</p>
                    </div>
                    <div class="col-sm col-lg-6 col-sm-12 mb-2">
                        <h6>Email</h6>
                        <p class="font-bold">Lindseystroud@gmail.com</p>
                    </div>
                    <div class="col-sm col-lg-6 col-sm-12 mb-2">
                        <h6>Phone</h6>
                        <p class="font-bold">+013145813</p>
                    </div>
                    <div class="col-sm col-lg-6 col-sm-12 mb-2">
                        <h6>Date</h6>
                        <p class="font-bold">12/09/2019</p>
                    </div>
                    <div class="col-sm col-lg-6 col-sm-12 mb-2">
                        <h6>Location</h6>
                        <p class="font-bold">Taligao, Panjim</p>
                    </div>
                    <div class="col-sm col-lg-6 col-sm-12 mb-2">
                        <h6>Recurring</h6>
                        <p class="font-bold">Yes</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">See Analytics</button>
                <button type="button" class="btn btn-primary">Download Invoice</button>
            </div>
        </div>
    </div>
</div>