<div class="dashboard">
    <header>
        <div class="d-flex justify-content-flex-end">
            <div class="d-flex align-items-center py-3 px-3">
                <form class="form-inline d-flex align-items-center search-item-align my-2 my-lg-0">
                    <span class="material-icons">
                        search
                    </span>
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                </form>
                <div class="user-profile d-flex align-items-center ml-4">
                    <img class="user-image" src="" />
                    <div class="user-content d-flex align-items-center">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Alex Tunner
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <aside class="vertical-sidebar vertical-sidebar-fixed">
        <div class="navbar-vertical-container background-primary">
            <nav class="navbar navbar-expand-lg navbar-vertical">
                <a class="navbar-brand text-white border-bottom pb-4 mb-3" href="#">logo</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <span class="material-icons">
                                insights
                            </span> <a class="nav-link" href="#">Overview</a>
                        </li>
                        <li class="nav-item">
                            <span class="material-icons">
                                dashboard_customize
                            </span> <a class="nav-link" href="#">Forms Management</a>
                        </li>
                        <li class="nav-item">
                            <span class="material-icons">
                                feed
                            </span> <a class="nav-link" href="#">Invoice Management</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </aside>
    <main class="px-4">
        <div class="d-flex align-items-center">
            <div class="card card-custom-graph" style="width: 18rem;">
                <div class="card-body">
                    <div class="d-flex justify-content-space-between badge-band mb-3">
                        <span class="badge badge-pill badge-warning">Data Capture</span>
                        <span class="label-default"><span class="badge badge-pill badge-success"> </span> Default</span>
                    </div>
                    <h5 class="card-title font-bold mb-3">Customer Westside</h5>
                    <p class="card-text">Craven omni memoria patriae zombieland clair narcisse religionis sunt diri
                        undead historiarum. Craven omni memoria patriae zombieland clairvius narcisse religionis sunt
                    </p>
                    <div class="d-flex justify-content-space-between">
                        <h1 class="count">32 <span>entries</span></h1>
                        <img class="card-graph" src="../../assets/images/rgraph-pink.png" />
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary w-100">Add date</button>
                        <button class="btn btn-secondary"><span class="material-icons">
                                more_vert
                            </span></button>
                    </div>
                </div>
            </div>
            <div class="card card-custom-graph" style="width: 18rem;">
                <div class="card-body">
                    <div class="d-flex justify-content-space-between badge-band mb-3">
                        <span class="badge badge-pill badge-warning">Data Capture</span>
                        <span class="label-default"><span class="badge badge-pill badge-success"> </span> Default</span>
                    </div>
                    <h5 class="card-title font-bold mb-3">Customer Westside</h5>
                    <p class="card-text">Craven omni memoria patriae zombieland clair narcisse religionis sunt diri
                        undead historiarum. Craven omni memoria patriae zombieland clairvius narcisse religionis sunt
                    </p>
                    <div class="d-flex justify-content-space-between">
                        <h1 class="count">32 <span>entries</span></h1>
                        <img class="card-graph" src="../../assets/images/rgraph-pink.png" />
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary w-100">Add date</button>
                        <button class="btn btn-secondary"><span class="material-icons">
                                more_vert
                            </span></button>
                    </div>
                </div>
            </div>
            <a class="btn btn-link">View all <span class="material-icons">
                chevron_right
                </span></a>
        </div>
        <div class="d-flex justify-content-space-between my-4">
            <h4 class="font-bold">Users </h4>
            <div class="d-flex">
                <form class="form-inline d-flex align-items-center search-item-align my-2 my-lg-0">
                    <span class="material-icons">
                        search
                    </span>
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                </form>
                <button class="btn btn-primary"><span class="material-icons">
                    add
                    </span> Create New</button>
            </div>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Contact</th>
                    <th scope="col">Date</th>
                    <th scope="col">Invoice Amount</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Lindsey Stroud</th>
                    <td>Zlindsey.stroud@gmail.com</td>
                    <td>+013145813</td>
                    <td>12/09/2019</td>
                    <td>2,314rs</td>
                    <td><button class="btn btn-sm btn-primary">View More</button></td>
                </tr>
                <tr>
                    <th scope="row">Lindsey Stroud</th>
                    <td>Zlindsey.stroud@gmail.com</td>
                    <td>+013145813</td>
                    <td>12/09/2019</td>
                    <td>2,314rs</td>
                    <td><button class="btn btn-sm btn-primary">View More</button></td>
                </tr>
                <tr>
                    <th scope="row">Lindsey Stroud</th>
                    <td>Zlindsey.stroud@gmail.com</td>
                    <td>+013145813</td>
                    <td>12/09/2019</td>
                    <td>2,314rs</td>
                    <td><button class="btn btn-sm btn-primary">View More</button></td>
                </tr>
            </tbody>
        </table>
    </main>
</div>