<div class="dashboard">
    <header>
        <div class="d-flex justify-content-flex-end">
            <div class="d-flex align-items-center py-3 px-3">
                <form class="form-inline d-flex align-items-center search-item-align my-2 my-lg-0">
                    <span class="material-icons">
                        search
                        </span> 
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                      </form>
                    <div class="user-profile d-flex align-items-center ml-4">
                        <img class="user-image" src=""/>
                        <div class="user-content d-flex align-items-center">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Alex Tunner
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  <a class="dropdown-item" href="#">Action</a>
                                  <a class="dropdown-item" href="#">Another action</a>
                                  <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                              </div>
                        </div>
                    </div>
            </div>
        </div>
    </header>
    <aside class="vertical-sidebar vertical-sidebar-fixed">
        <div class="navbar-vertical-container background-primary">
            <nav class="navbar navbar-expand-lg navbar-vertical">
                <a class="navbar-brand text-white border-bottom pb-4 mb-3" href="#">logo</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <span class="material-icons">
                                insights
                            </span> <a class="nav-link" href="#">Overview</a>
                        </li>
                        <li class="nav-item">
                            <span class="material-icons">
                                dashboard_customize
                            </span> <a class="nav-link" href="#">Forms Management</a>
                        </li>
                        <li class="nav-item">
                            <span class="material-icons">
                                feed
                            </span> <a class="nav-link" href="#">Invoice Management</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </aside>
    <main>
     
    </main>
</div>