<div class="dashboard">
    <header>
        <div class="d-flex justify-content-flex-end">
            <div class="d-flex align-items-center py-3 px-3">
                <form class="form-inline d-flex align-items-center search-item-align my-2 my-lg-0">
                    <span class="material-icons">
                        search
                    </span>
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                </form>
                <div class="user-profile d-flex align-items-center ml-4">
                    <img class="user-image" src="" />
                    <div class="user-content d-flex align-items-center">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Alex Tunner
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <aside class="vertical-sidebar vertical-sidebar-fixed">
        <div class="navbar-vertical-container background-primary">
            <nav class="navbar navbar-expand-lg navbar-vertical">
                <a class="navbar-brand text-white border-bottom pb-4 mb-3" href="#">logo</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <span class="material-icons">
                                insights
                            </span> <a class="nav-link" href="#">Overview</a>
                        </li>
                        <li class="nav-item">
                            <span class="material-icons">
                                dashboard_customize
                            </span> <a class="nav-link" href="#">Forms Management</a>
                        </li>
                        <li class="nav-item">
                            <span class="material-icons">
                                feed
                            </span> <a class="nav-link" href="#">Invoice Management</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </aside>
    <main class="px-4">
        <section>
            <div class="user-detail-block">
                <div class="user-profile  d-flex align-items-center justify-content-space-between">
                    <img class="user-image" src="../../assets/images/user-iamge.png" />
                    <div class="user-content">
                        <h4>Lindsey Stroud</h4>
                        <p>lindsey.stroud@gmail.comroud</p>
                        <p>+013145813</p>
                    </div>
                    <div class="user-content">
                        <h6>Member since</h6>
                        <p> 19 Feb 2020</p>
                    </div>
                    <div class="d-flex align-items-center justify-content-center">
                        <button class="btn btn-primary mr-2">Loyalty Program</button>
                        <button class="btn btn-secondary mr-2">Edit</button>
                        <button class="btn btn-secondary text-danger mr-2"><span class="material-icons">
                                delete
                            </span></button>
                    </div>
                </div>
            </div>
            <div class="row charts-section">
                <div class="col-sm col-lg-5 col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <h5>New entries</h5>
                            <img class="img-fluid" src="../../assets/images/demo-chart-one.png" />
                        </div>
                    </div>
                </div>
                <div class="col-sm col-lg-7 col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <h5>New entries</h5>
                            <img class="img-fluid" src="../../assets/images/demo-chart-two.png" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>