<!-- Sidebar form edit section -->
<!-- <div class="dashboard">
    <header>
        <div class="d-flex justify-content-flex-end">
            <div class="d-flex align-items-center py-3 px-3">
                <form class="form-inline d-flex align-items-center search-item-align my-2 my-lg-0">
                    <span class="material-icons">
                        search
                    </span>
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                </form>
                <div class="user-profile d-flex align-items-center ml-4">
                    <img class="user-image" src="" />
                    <div class="user-content d-flex align-items-center">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Alex Tunner
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <aside class="vertical-sidebar vertical-sidebar-fixed">
        <div class="navbar-vertical-container background-primary">
            <nav class="navbar navbar-expand-lg navbar-vertical">
                <a class="navbar-brand text-white border-bottom pb-4 mb-3" href="#">logo</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <span class="material-icons">
                                insights
                            </span> <a class="nav-link" href="#">Overview</a>
                        </li>
                        <li class="nav-item">
                            <span class="material-icons">
                                dashboard_customize
                            </span> <a class="nav-link" href="#">Forms Management</a>
                        </li>
                        <li class="nav-item">
                            <span class="material-icons">
                                feed
                            </span> <a class="nav-link" href="#">Invoice Management</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </aside>
    <main class="px-4">
        <div class="d-flex justify-content-space-between my-4">
            <h4 class="font-bold">Data Capture </h4>
            <div class="d-flex">
                <form class="form-inline d-flex align-items-center search-item-align my-2 my-lg-0">
                    <span class="material-icons">
                        search
                    </span>
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                </form>
                <button class="btn btn-primary"><span class="material-icons">
                        add
                    </span> Create New</button>
            </div>
        </div>
        <div class="card card-custom mb-3">
            <div class="card-body d-flex justify-content-space-between align-items-center">
                <div class="mr-4">
                    <h5 class="card-title">Customer Westside</h5>
                    <p class="card-text">Craven omni memoria patriae zombieland clair narcisse religionis sunt diri
                        undead historiarum. Craven omni memoria patriae zombieland clairvius narcisse religionis sunt
                    </p>
                </div>
                <div class="d-flex align-items-center mr-4">
                    <h1>32</h1>
                    <p>enteries</p>
                </div>
                <div class="d-flex">
                    <button class="btn btn-primary mr-2">Add</button>
                    <button class="btn btn-secondary">View</button>
                </div>
            </div>
        </div>
        <div class="card card-custom mb-3">
            <div class="card-body d-flex justify-content-space-between align-items-center">
                <div class="mr-4">
                    <h5 class="card-title">Customer Westside</h5>
                    <p class="card-text">Craven omni memoria patriae zombieland clair narcisse religionis sunt diri
                        undead historiarum. Craven omni memoria patriae zombieland clairvius narcisse religionis sunt
                    </p>
                </div>
                <div class="d-flex align-items-center mr-4">
                    <h1>32</h1>
                    <p>enteries</p>
                </div>
                <div class="d-flex">
                    <button class="btn btn-primary mr-2">Add</button>
                    <button class="btn btn-secondary">View</button>
                </div>
            </div>
        </div>
        <div class="card card-custom mb-3">
            <div class="card-body d-flex justify-content-space-between align-items-center">
                <div class="mr-4">
                    <h5 class="card-title">Customer Westside</h5>
                    <p class="card-text">Craven omni memoria patriae zombieland clair narcisse religionis sunt diri
                        undead historiarum. Craven omni memoria patriae zombieland clairvius narcisse religionis sunt
                    </p>
                </div>
                <div class="d-flex align-items-center mr-4">
                    <h1>32</h1>
                    <p>enteries</p>
                </div>
                <div class="d-flex">
                    <button class="btn btn-primary mr-2">Add</button>
                    <button class="btn btn-secondary">View</button>
                </div>
            </div>
        </div>

        <section class="sidebar-section">
            <aside class="custom-sidebar">
                <h3>Data Capture main detail</h3>

                <div class="form-group">
                    <label>Name *</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="">
                </div>
                <div class="form-group">
                    <label>Description <br><span class="font-14">Craven omni memoria patriae zombieland clair narcisse
                            religionis sunt diri
                            undead historiarum.</span></label>
                    <input type="textarea" class="form-control" id="exampleInputPassword1" placeholder="">
                </div>
                <div class="form-group custom-switch d-flex justify-content-space-between align-items-center mb-3">
                    <label class="content-label">Show form on Dashboard <br><span class="font-14 mr-2">Craven omni
                            memoria patriae zombieland clair narcisse
                            religionis sunt diri
                            undead historiarum.</span></label>
                    <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="form-group custom-switch d-flex justify-content-space-between align-items-center mb-3">
                    <label class="content-label">Duplication <br><span class="font-14 mr-2">Craven omni
                            memoria patriae zombieland clair narcisse
                            religionis sunt diri
                            undead historiarum.</span></label>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="form-group custom-switch d-flex justify-content-space-between align-items-center mb-3">
                    <label class="content-label"> Show on forms list <br><span class="font-14 mr-2">Craven omni
                            memoria patriae zombieland clair narcisse
                            religionis sunt diri
                            undead historiarum.</span></label>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </aside>
        </section>
    </main>
</div> -->


<!-- Edit view sidebar -->
<div class="dashboard">
    <header>
        <div class="d-flex justify-content-flex-end">
            <div class="d-flex align-items-center py-3 px-3">
                <form class="form-inline d-flex align-items-center search-item-align my-2 my-lg-0">
                    <span class="material-icons">
                        search
                    </span>
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                </form>
                <div class="user-profile d-flex align-items-center ml-4">
                    <img class="user-image" src="" />
                    <div class="user-content d-flex align-items-center">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Alex Tunner
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <aside class="vertical-sidebar vertical-sidebar-fixed">
        <div class="navbar-vertical-container background-primary">
            <nav class="navbar navbar-expand-lg navbar-vertical">
                <a class="navbar-brand text-white border-bottom pb-4 mb-3" href="#">logo</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <span class="material-icons">
                                insights
                            </span> <a class="nav-link" href="#">Overview</a>
                        </li>
                        <li class="nav-item">
                            <span class="material-icons">
                                dashboard_customize
                            </span> <a class="nav-link" href="#">Forms Management</a>
                        </li>
                        <li class="nav-item">
                            <span class="material-icons">
                                feed
                            </span> <a class="nav-link" href="#">Invoice Management</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </aside>
    <main class="px-4">
        <header>
            <div class="d-flex justify-content-space-between">
                <div class="mr-4">
                    <h5>Customer Westside</h5>
                    <p>Craven omni memoria patriae zombieland clair narcisse religionis sunt diri undead historiarum.
                        Craven omni memoria patriae zombieland clairvius narcisse religionis sunt</p>
                </div>
                <div class="d-flex align-items-center">
                    <button class="btn btn-secondary">Edit</button>
                </div>
            </div>
        </header>
        <div class="section-area">
            <section class="form-content">
                <div class="component-added text-area d-flex">
                    <div class="d-flex align-items-center drag-item"><span><span class="material-icons">
                                drag_indicator
                            </span></span></div>
                    <div class="form-group">
                        <label>Form Description</label>
                        <input type="textarea" class="form-control" id="exampleInputPassword1"
                            placeholder="Add Description">
                    </div>
                    <div class="component-action">
                        <span class="icon"><span class="material-icons">
                                mode
                            </span></span>
                        <span class="icon"><span class="material-icons text-danger">
                                delete
                            </span></span>
                    </div>
                </div>
            </section>
            <!-- <aside class="sidebar-inputs">
                <ul class="list-group">
                    <li class="list-group-item pb-0">
                        <h5>Add Elements</h5>
                    </li>
                    <li class="list-group-item"><a class="btn btn-link p-0"><img class="img-fluid"
                                src="../../assets/icons/name.png" />Name</a>
                    </li>
                    <li class="list-group-item"><a class="btn btn-link p-0"><img class="img-fluid"
                                src="../../assets/icons/email.png" />Email</a>
                    </li>
                    <li class="list-group-item"><a class="btn btn-link p-0"><img class="img-fluid"
                                src="../../assets/icons/contact.png" />Contact</a>
                    </li>
                    <li class="list-group-item"><a class="btn btn-link p-0"><img class="img-fluid"
                                src="../../assets/icons/company.png" />Company</a>
                    </li>
                    <li class="list-group-item"><a class="btn btn-link p-0"><img class="img-fluid"
                                src="../../assets/icons/title.png" />Title</a>
                    </li>
                    <li class="list-group-item"><a class="btn btn-link p-0"><img class="img-fluid"
                                src="../../assets/icons/textbox.png" />TextBox</a>
                    </li>
                    <li class="list-group-item"><a class="btn btn-link p-0"><img class="img-fluid"
                                src="../../assets/icons/password.png" />Password</a>
                    </li>
                    <li class="list-group-item"><a class="btn btn-link p-0"><img class="img-fluid"
                                src="../../assets/icons/date.png" />Date</a>
                    </li>
                    <li class="list-group-item"><a class="btn btn-link p-0"><img class="img-fluid"
                                src="../../assets/icons/photo.png" />Photo</a>
                    </li>
                    <li class="list-group-item"><a class="btn btn-link p-0"><img class="img-fluid"
                                src="../../assets/icons/upload-document.png" />Upload Document</a></li>
                    <li class="list-group-item"><a class="btn btn-link p-0"><img class="img-fluid"
                                src="../../assets/icons/checkbox.png" />Checkbox</a>
                    </li>
                    <li class="list-group-item"><a class="btn btn-link p-0"><img class="img-fluid"
                                src="../../assets/icons/radiobutton.png" />Radio
                            Button</a></li>
                </ul>
            </aside> -->
            <aside class="sidebar-edit-mode">
                <h3>Data Capture main detail</h3>

                <div class="form-group">
                    <label>Name *</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="">
                </div>
                <div class="form-group">
                    <label>Description <br><span class="font-14">Craven omni memoria patriae zombieland clair narcisse
                            religionis sunt diri
                            undead historiarum.</span></label>
                    <input type="textarea" class="form-control" id="exampleInputPassword1" placeholder="">
                </div>
                <div class="form-group custom-switch d-flex justify-content-space-between align-items-center mb-3">
                    <label class="content-label">Required <br><span class="font-14 mr-2">Craven omni
                            memoria patriae zombieland clair narcisse
                            religionis sunt diri
                            undead historiarum.</span></label>
                    <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="form-group custom-switch d-flex justify-content-space-between align-items-center mb-3">
                    <label class="content-label">Show on list <br><span class="font-14 mr-2">Craven omni
                            memoria patriae zombieland clair narcisse
                            religionis sunt diri
                            undead historiarum.</span></label>
                    <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                    </label>
                </div>
               
            </aside>
        </div>

        <footer>
            <button class="btn btn-secondary mr-2">Back</button>
            <button class="btn btn-primary">Save</button>
        </footer>
    </main>
</div>