<!-- onboarding page 1 -->
<section class="height-vh">
    <div class="row m-0 height-vh">
        <div class="col-sm col-lg-5 col-sm-12 background-primary text-white section">
            <div class="section-content-block">
                <div class="section-block-title text-center">
                    <h3>Feature loaded application</h3>
                </div>
                <div class="section-block-content mb-4 text-center">
                    Craven omni memoria patriae zombieland clairvius narcisse
                </div>
                <div class="section-block-image mx-4">
                    <img class="img-fluid" src="images/onboarding-1.png" />
                </div>
            </div>
        </div>
        <div class="col-sm col-lg-7 col-sm-12 section ">
            <div class="section-content-block mx-4 px-3">
                <div class="section-block-title font-bold">
                    <h3>Select Service</h3>
                </div>
                <div class="section-block-content mb-4">
                    <div class="item-content-pill mt-4">
                        <div class="text">
                            <p>Self Service</p>
                            <span>Craven omni memoria patriae zombieland clairvius narcisse religionis sunt diri
                                undead historiarum. Craven omni memoria patriae zombieland clairvius narcisse
                                religionis sunt</span>
                        </div>
                        <div class="section-icon">
                            <span class="material-icons">
                                arrow_right_alt
                            </span>
                        </div>

                    </div>
                    <div class="item-content-pill">
                        <div class="text">
                            <p>Self Service</p>
                            <span>Craven omni memoria patriae zombieland clairvius narcisse religionis sunt diri
                                undead historiarum. Craven omni memoria patriae zombieland clairvius narcisse
                                religionis sunt</span>
                        </div>
                        <div class="section-icon">
                            <span class="material-icons">
                                arrow_right_alt
                            </span>
                        </div>

                    </div>
                    <div class="footer-button">
                        <button class="btn btn-primary text-white my-4">Next <span class="material-icons">
                                chevron_right
                            </span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- onboarding page 2 -->
<!-- <section class="height-vh">
    <div class="row m-0 height-vh">
        <div class="col-sm col-lg-5 col-sm-12 background-primary text-white section pr-0 height-vh">
            <div class="section-content-block">
                <div class="section-block-title text-center">
                    <h3 class="mb-3">Assisted Service</h3>
                    <p>Craven omni memoria patriae zombieland clairvius narcisse</p>
                </div>
                <div class="d-flex justify-content-space-between mt-4 pt-3 section-list">
                    <div class="section-block-content mb-4">
                        <ul class="list-group-custom border-0">
                            <li class="list-group-item mb-3"> <img src="../../assets/icons/done_all_black_24dp.svg" />
                                Craven omni
                                memoria patriae zombieland clairvius narcisse</li>
                            <li class="list-group-item mb-3"> <img src="../../assets/icons/done_all_black_24dp.svg" />
                                Craven omni
                                memoria patriae zombieland clairvius narcisse</li>
                            <li class="list-group-item mb-3"> <img src="../../assets/icons/done_all_black_24dp.svg" />
                                Craven omni
                                memoria patriae zombieland clairvius narcisse</li>
                            <li class="list-group-item mb-3"> <img
                                    src="../../assets/icons/done_all_black_24dp.svg" />Craven omni
                                memoria patriae zombieland clairvius narcisse</li>
                        </ul>
                    </div>
                    <div class="section-block-image-pos-a ml-4">
                        <img class="img-fluid" src="../../assets/images/onboarding-2.png" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm col-lg-7 col-sm-12 section ">
            <div class="section-content-block mx-4 px-3">
                <div class="section-block-title font-bold">
                    <h5 class="mb-4 font-bold">Your request for assisted service has been sent,
                        our team member will be with you shortly</h5>
                </div>
                <div class="section-block-content mb-4">
                    <p>Craven omni Nunc duis id aenean gravida tincidunt eu, tempor ullamcorper. Viverra aliquam
                        arcu, viverra et, cursus. Aliquet pretium</p>
                    <div class="footer-button">
                        <button class="btn btn-primary text-white my-4">Back</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<!-- onboarding page 3 -->
<!-- <section class="height-vh">
    <div class="row m-0 height-vh">
        <div class="col-sm col-lg-5 col-sm-12 background-primary text-white section pr-0 height-vh">
            <div class="section-content-block">
                <div class="section-block-title text-center">
                    <h3 class="mb-3">Assisted Service</h3>
                    <p>Craven omni memoria patriae zombieland clairvius narcisse</p>
                </div>
                <div class="d-flex justify-content-space-between mt-4 pt-3 section-list">
                    <div class="section-block-content mb-4">
                        <ul class="list-group-custom border-0">
                            <li class="list-group-item mb-3"> <img src="../../assets/icons/done_all_black_24dp.svg" />
                                Craven omni
                                memoria patriae zombieland clairvius narcisse</li>
                            <li class="list-group-item mb-3"> <img src="../../assets/icons/done_all_black_24dp.svg" />
                                Craven omni
                                memoria patriae zombieland clairvius narcisse</li>
                            <li class="list-group-item mb-3"> <img src="../../assets/icons/done_all_black_24dp.svg" />
                                Craven omni
                                memoria patriae zombieland clairvius narcisse</li>
                            <li class="list-group-item mb-3"> <img
                                    src="../../assets/icons/done_all_black_24dp.svg" />Craven omni
                                memoria patriae zombieland clairvius narcisse</li>
                        </ul>
                    </div>
                    <div class="section-block-image-pos-a ml-4">
                        <img class="img-fluid" src="../../assets/images/onboarding-3.png" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm col-lg-7 col-sm-12 section ">
            <div class="section-content-block mx-4 px-3">
                <div class="section-block-title font-bold">
                    <h5 class="mb-4 font-bold">lets get you started</h5>
                </div>
                <div class="section-block-content mb-4">
                    <p>Craven omni Nunc duis id aenean gravida tincidunt eu, tempor ullamcorper. Viverra aliquam
                        arcu, viverra et, cursus. Aliquet pretium</p>


                    <div class="form-section">
                        <form class="my-4">
                            <div class="custom-upload-btn-wrapper mb-2">
                                <button class="btn">Upload a file</button>
                                <input type="file" name="myfile" />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="exampleInputPassword1"
                                    placeholder="Business Name">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" id="exampleInputPassword1"
                                    placeholder="Business Email">
                            </div>
                            <div class="form-group">
                                <input type="number" class="form-control" id="exampleFormControlInput1"
                                    placeholder="Phone">
                            </div>
                        </form>
                    </div>
                    <div class="footer-button">
                        <button class="btn btn-secondary my-4 mr-3">Back</button>
                        <button class="btn btn-primary text-white my-4">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<!-- onboarding page 4 -->
<!-- <section class="height-vh">
    <div class="row m-0 height-vh">
        <div class="col-sm col-lg-5 col-sm-12 background-primary text-white section pr-0 height-vh">
            <div class="section-content-block">
                <div class="section-block-title text-center">
                    <h3 class="mb-3">Assisted Service</h3>
                    <p>Craven omni memoria patriae zombieland clairvius narcisse</p>
                </div>
                <div class="d-flex justify-content-space-between mt-4 pt-3 section-list">
                    <div class="section-block-content mb-4">
                        <ul class="list-group-custom border-0">
                            <li class="list-group-item mb-3"> <img src="../../assets/icons/done_all_black_24dp.svg" />
                                Craven omni
                                memoria patriae zombieland clairvius narcisse</li>
                            <li class="list-group-item mb-3"> <img src="../../assets/icons/done_all_black_24dp.svg" />
                                Craven omni
                                memoria patriae zombieland clairvius narcisse</li>
                            <li class="list-group-item mb-3"> <img src="../../assets/icons/done_all_black_24dp.svg" />
                                Craven omni
                                memoria patriae zombieland clairvius narcisse</li>
                            <li class="list-group-item mb-3"> <img
                                    src="../../assets/icons/done_all_black_24dp.svg" />Craven omni
                                memoria patriae zombieland clairvius narcisse</li>
                        </ul>
                    </div>
                    <div class="section-block-image-pos-a ml-4">
                        <img class="img-fluid" src="../../assets/images/onboarding-4.png" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm col-lg-7 col-sm-12 section ">
            <div class="section-content-block mx-4 px-3">
                <div class="section-block-title font-bold">
                    <h5 class="mb-4 font-bold">lets get you started</h5>
                </div>
                <div class="section-block-content mb-4">
                    <p>Craven omni Nunc duis id aenean gravida tincidunt eu, tempor ullamcorper. Viverra aliquam
                        arcu, viverra et, cursus. Aliquet pretium</p>


                    <div class="form-section">
                        <form class="my-4">
                            <div class="form-group">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button"
                                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        Service Type
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                                <label class="text-grey my-2">Craven omni Nunc duis id aenean gravida tincidunt eu,
                                    <span class="font-bold">Unsure?</span></label>
                            </div>
                            <div class="form-group">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button"
                                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">

                                        Purpose of using this platform
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mt-4 pt-2">
                                <h5>Would you like to access these services?</h5>
                                <p>Craven omni Nunc duis id aenean gravida tincidunt eu, satraven omni memoria patriae
                                    zombieland clairvius narcisse</p>
                                <div class="mt-4 d-flex d-small-block ">
                                    <div class="card-selection-service mb-3">
                                        <span class="background green">
                                            <img src="../../assets/icons/briefcase.png" />
                                        </span>
                                        <label>Business Campaign</label>
                                    </div>
                                    <div class="card-selection-service">
                                        <span class="background red">
                                            <img src="../../assets/icons/SketchLogo.png" />
                                        </span>
                                        <label>Business Campaign</label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="footer-button">
                        <button class="btn btn-secondary my-4 mr-3">Back</button>
                        <button class="btn btn-primary text-white my-4">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->