/* You can add global styles to this file, and also import other style files */
.container {
  max-width: 1440px;
  margin: 0 auto;
}

.font-light {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.font-8 {
  font-size: 8px !important;
}

.font-14 {
  font-size: 14px !important;
}

.font-16 {
  font-size: 16px !important;
}

.line-height-normal {
  line-height: normal !important;
}

@media (max-width: 576px) {
  h1 {
    font-size: 2rem;
  }
}

@media (max-width: 576px) {
  h2 {
    font-size: 1.8rem;
  }
}

@media (max-width: 576px) {
  h3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 576px) {
  h4 {
    font-size: 1.2rem;
  }
}

@media (max-width: 576px) {
  h5 {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  h6 {
    font-size: 0.8rem;
  }
}

.border-radius-0 {
  border-radius: 0px !important;
}

.border-none {
  border: 0px !important;
}

.background-light-green {
  background: #f0f8eb;
}

.background-primary {
  background: #02042A;
  color: #fff;
}

.background-secondary {
  background-color: #FFE01B;
  color: #1D2538;
}

.text-verified {
  color: #6FBA43;
}

.text-decoration-underline {
  text-decoration: underline;
}

.text-white {
  color: #fff;
}

.text-primary {
  color: #02042A;
}

.text-secondary {
  color: #FFE01B !important;
}

.text-grey {
  color: #727374;
}

.text-color-light {
  color: #949597 !important;
}

.text-uppercase {
  text-transform: uppercase;
}

.mt-8 {
  margin-top: 8px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mt-16 {
  margin-top: 16px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mt-22 {
  margin-top: 22px;
}

.mb-22 {
  margin-bottom: 22px;
}

.mt-24 {
  margin-top: 24px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mr-24 {
  margin-right: 24px;
}

.ml-24 {
  margin-left: 24px;
}

.mt-28 {
  margin-top: 28px;
}

.mb-28 {
  margin-bottom: 28px;
}

@media (max-width: 576px) {
  .mb-sm-3 {
    margin-bottom: 16px !important;
  }
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mr-30 {
  margin-right: 30px;
}

.ml-30 {
  margin-left: 30px;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.w-min-250 {
  min-width: 250px;
}

.w-max-300 {
  max-width: 300px !important;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 576px) {
  .d-small-block {
    display: block !important;
  }
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-content-flex-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.justify-content-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (max-width: 768px) {
  .section {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.section.section-compact {
  padding-top: 32px;
  padding-bottom: 32px;
}

@media (max-width: 576px) {
  .section.section-compact {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.material-icons {
  vertical-align: middle;
}

.section-main-title {
  font-family: "Poppins", sans-serif;
  font-size: 3rem !important;
  text-shadow: none;
  font-weight: 700 !important;
  line-height: 75px;
  padding: 2rem 0rem;
}

@media (max-width: 1200px) {
  .section-main-title {
    font-size: 2.8rem !important;
    line-height: 48px;
  }
}

@media (max-width: 768px) {
  .section-main-title {
    font-size: 2.4rem !important;
    line-height: 34px;
    padding: 1rem 0;
  }
}

@media (max-width: 576px) {
  .section-main-title {
    font-size: 1.5rem !important;
    line-height: 28px;
    padding: 0.5rem 0;
  }
}

.section-title {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  line-height: normal;
  font-weight: 700;
}

@media (max-width: 768px) {
  .section-title {
    font-size: 2.5rem;
  }
}

@media (max-width: 576px) {
  .section-title {
    font-size: 1.5rem;
  }
}

.section-sub-small-title {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  line-height: normal;
  font-weight: 700;
}

@media (max-width: 768px) {
  .section-sub-small-title {
    font-size: 1rem;
  }
}

.section-subtitle {
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
}

.section-wrapper-title {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

@media (max-width: 768px) {
  .section-wrapper-title {
    font-size: 1rem;
  }
}

.section-content {
  font-weight: 300;
  line-height: 36px;
  font-size: 1.2rem;
  color: #2f3142;
}

@media (max-width: 768px) {
  .section-content {
    line-height: 32px;
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .section-content {
    font-size: 1.2rem;
    line-height: 24px;
    padding: 0.5rem 0;
  }
}

.btn {
  border-radius: 4px;
}

.btn.btn-primary {
  background-color: #121212;
  color: #fff;
  border-color: #121212;
}

.btn.btn-secondary {
  border-color: transparent;
  background: rgba(84, 140, 168, 0.08);
  border-radius: 4px;
  color: #02042A;
}

.btn.btn-secondary.dropdown-toggle {
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  border-radius: 7px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.custom-upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 100%;
}

.custom-upload-btn-wrapper .btn {
  background: rgba(84, 140, 168, 0.08);
  /* Tertiary Color */
  border: 1px dashed rgba(84, 140, 168, 0.08);
  border-radius: 16px;
  padding: 30px 40px;
  font-size: 16px;
  width: 100%;
}

.custom-upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.dashboard {
  height: 100%;
}

.dashboard header .search-item-align.form-inline {
  position: relative;
}

.dashboard header .search-item-align.form-inline .form-control {
  padding-left: 30px;
  border-left: none;
  border-right: none;
  border-top: none;
  border-radius: 0;
}

.dashboard header .search-item-align.form-inline .material-icons {
  position: absolute;
  left: 5px;
}

.dashboard header .user-profile .user-content .dropdown .dropdown-toggle {
  border: none;
}

.dashboard .vertical-sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
}

.dashboard .vertical-sidebar .navbar-vertical-container {
  height: 100%;
}

.dashboard .vertical-sidebar .navbar-vertical-container .navbar-vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 0;
  padding-right: 0;
}

.dashboard .vertical-sidebar .navbar-vertical-container .navbar-vertical .navbar-toggler {
  display: none;
}

@media (max-width: 768px) {
  .dashboard .vertical-sidebar .navbar-vertical-container .navbar-vertical .navbar-collapse {
    display: block !important;
  }
}

.dashboard .vertical-sidebar .navbar-vertical-container .navbar-vertical .navbar-nav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dashboard .vertical-sidebar .navbar-vertical-container .navbar-vertical .navbar-nav .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 16px;
}

.dashboard .vertical-sidebar .navbar-vertical-container .navbar-vertical .navbar-nav .nav-item.active {
  background: #eeee;
  color: #1D2538;
}

.dashboard .vertical-sidebar .navbar-vertical-container .navbar-vertical .navbar-nav .nav-item.active > .nav-link {
  color: #1D2538;
}

.dashboard .vertical-sidebar .navbar-vertical-container .navbar-vertical .navbar-nav .nav-item > .nav-link {
  color: #fff;
}

@media (max-width: 768px) {
  .dashboard .vertical-sidebar .navbar-vertical-container .navbar-vertical .navbar-nav .nav-item > .nav-link {
    display: none;
  }
}

.dashboard main {
  margin-left: 250px;
  width: calc(100% - 250px);
  height: 100%;
}

@media (max-width: 768px) {
  .dashboard main {
    margin-left: 50px;
    width: calc(100% - 50px);
  }
}

.height-vh {
  height: 100vh;
}

@media (max-width: 768px) {
  .height-vh {
    height: 100%;
  }
}

@media (max-width: 768px) {
  .section-content-block {
    text-align: center;
  }
}

.section-content-block .section-block-title h3 {
  font-size: 32px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .section-content-block .section-list {
    text-align: center;
  }
  .section-content-block .section-list .section-block-content {
    width: 100%;
  }
}

.section-content-block .card-selection-service {
  padding: 40px;
  border: 1px solid #EEEEEE;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 16px;
}

@media (max-width: 576px) {
  .section-content-block .card-selection-service {
    margin-right: 0px;
  }
}

.section-content-block .card-selection-service:hover {
  border: 1px solid #02042A;
}

.section-content-block .card-selection-service .background {
  width: 100px;
  height: 100px;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-content-block .card-selection-service .background img {
  width: 32px;
  height: 32px;
}

.section-content-block .card-selection-service .background.green {
  background: #F5FDF7;
  border-radius: 12px;
}

.section-content-block .card-selection-service .background.red {
  background: #FFF5F5;
  border-radius: 12px;
}

.section-content-block .card-selection-service label {
  font-weight: 500;
  font-size: 18px;
  margin-top: 12px;
}

.section-content-block .section-block-image {
  margin-top: 40px;
}

@media (max-width: 768px) {
  .section-content-block .section-block-image {
    display: none;
  }
}

.section-content-block .list-group-custom .list-group-item {
  background-color: transparent;
  color: #fff;
  font-size: 14px;
}

@media (max-width: 768px) {
  .section-content-block .list-group-custom .list-group-item img {
    display: none;
  }
}

@media (max-width: 768px) {
  .section-content-block .list-group-custom {
    padding-left: 0;
    text-align: center;
  }
}

.section-content-block .section-block-image-pos-a img {
  width: 350px;
  height: auto;
}

@media (max-width: 768px) {
  .section-content-block .section-block-image-pos-a img {
    display: none;
  }
}

.section-content-block .item-content-pill {
  padding: 16px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #C4C4C4;
  border-radius: 16px;
  margin-top: 16px;
}

@media (max-width: 768px) {
  .section-content-block .item-content-pill .section-icon {
    display: none;
  }
}

.section-content-block .item-content-pill:hover {
  border: 1px solid #02042A;
}

.section-content-block .item-content-pill .text > p {
  font-size: 16px;
  font-weight: 700;
}

.section-content-block .footer-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
/*# sourceMappingURL=assisted-sign-up.component.css.map */