<!-- onboarding page 1 -->
<section class="height-vh">
    <div class="row m-0 height-vh">
        <div class="col-sm col-lg-5 col-sm-12 background-primary text-white section">
            <div class="section-content-block">
                <div class="section-block-title text-center">
                    <h3>Feature loaded application</h3>
                </div>
                <div class="section-block-content mb-4 text-center">
                    Craven omni memoria patriae zombieland clairvius narcisse
                </div>
                <div class="section-block-image mx-4">
                    <img class="img-fluid" src="images/onboarding-1.png" />
                </div>
            </div>
        </div>
        <div class="col-sm col-lg-7 col-sm-12 section ">
            <div class="section-content-block mx-4 px-3">
                <div class="section-block-title font-bold">
                    <h3>Select Service</h3>
                </div>
                <div class="section-block-content mb-4">
                    <div class="item-content-pill mt-4">
                        <div class="text">
                            <p>Self Service</p>
                            <span>Craven omni memoria patriae zombieland clairvius narcisse religionis sunt diri
                                undead historiarum. Craven omni memoria patriae zombieland clairvius narcisse
                                religionis sunt</span>
                        </div>
                        <div class="section-icon">
                            <span class="material-icons">
                                arrow_right_alt
                            </span>
                        </div>

                    </div>
                    <div class="item-content-pill">
                        <div class="text">
                            <p>Self Service</p>
                            <span>Craven omni memoria patriae zombieland clairvius narcisse religionis sunt diri
                                undead historiarum. Craven omni memoria patriae zombieland clairvius narcisse
                                religionis sunt</span>
                        </div>
                        <div class="section-icon">
                            <span class="material-icons">
                                arrow_right_alt
                            </span>
                        </div>

                    </div>
                    <div class="footer-button">
                        <button class="btn btn-primary text-white my-4">Next <span class="material-icons">
                                chevron_right
                            </span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- onboarding page 2 -->
<section class="height-vh">
    <div class="row m-0 height-vh">
        <div class="col-sm col-lg-5 col-sm-12 background-primary text-white section pr-0">
            <div class="section-content-block">
                <div class="section-block-title text-center">
                    <h3 class="mb-3">Assisted Service</h3>
                    <p>Craven omni memoria patriae zombieland clairvius narcisse</p>
                </div>
                <div class="d-flex justify-content-space-between section-list">
                    <div class="section-block-content mb-4">
                        <ul class="list-group-custom border-0">
                            <li class="list-group-item mb-3"> <img src="../../assets/icons/done_all_black_24dp.svg" />
                                Craven omni
                                memoria patriae zombieland clairvius narcisse</li>
                            <li class="list-group-item mb-3"> <img src="../../assets/icons/done_all_black_24dp.svg" />
                                Craven omni
                                memoria patriae zombieland clairvius narcisse</li>
                            <li class="list-group-item mb-3"> <img src="../../assets/icons/done_all_black_24dp.svg" />
                                Craven omni
                                memoria patriae zombieland clairvius narcisse</li>
                            <li class="list-group-item mb-3"> <img
                                    src="../../assets/icons/done_all_black_24dp.svg" />Craven omni
                                memoria patriae zombieland clairvius narcisse</li>
                        </ul>
                    </div>
                    <div class="section-block-image-pos-a ml-4">
                        <img class="img-fluid" src="images/onboarding-2.png" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm col-lg-7 col-sm-12 section ">
            <div class="section-content-block mx-4 px-3">
                <div class="section-block-title font-bold">
                    <h5 class="mb-4 font-bold">Your request for assisted service has been sent,
                        our team member will be with you shortly</h5>
                </div>
                <div class="section-block-content mb-4">
                    <p>Craven omni Nunc duis id aenean gravida tincidunt eu, tempor ullamcorper. Viverra aliquam
                        arcu, viverra et, cursus. Aliquet pretium</p>
                    <div class="footer-button">
                        <button class="btn btn-primary text-white my-4">Back</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>