/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";


//common container width used
$container-width: 1200px;
//all common variables
$information-mobile-xs: 420px;
$information-mobile-sm: 576px;
$information-mobile-md: 768px;
$information-mobile-lg: 992px;
$information-mobile-xl: 1200px;

//font family
$poppins: 'Poppins', sans-serif;

//colors
//body background colors
$color-primary: #02042A;
$color-secondary: #FFE01B;
$color-secondary-green: #6FBA43;
$emphasis-color: #F05454;
$color-footer: #3E3E3E;
$color-border: #EEEEEE;
$background-light-green: lighten(#6FBA43, 45%);
$dark-blue-background: #141327;
$background-blue: #FDFEFF;


//text color
$text-color: #1D2538;
$text-color-section: #2f3142;
$text-white: #fff;
$text-color-light: #949597;
$text-input-color: #8A92A6;
$text-grey: #727374;

//btn color
$btn-color: #121212;

//font-weight
$body-font-size: 1rem;
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-extrabold: 800;

//container 
.container {
    max-width: 1440px;
    margin: 0 auto;
}

//text classes
.font-light {
    font-weight: $font-light;
}

.font-normal {
    font-weight: $font-normal;
}

.font-medium {
    font-weight: $font-medium;
}

.font-semibold {
    font-weight: $font-semibold;
}

.font-bold {
    font-weight: $font-bold;
}

.font-extrabold {
    font-weight: $font-extrabold;
}

.font-8 {
    font-size: 8px !important;
}

.font-14 {
    font-size: 14px !important;
}

.font-16 {
    font-size: 16px !important;
}

.line-height-normal {
    line-height: normal !important;
}

//heading
h1 {
    @media (max-width: $information-mobile-sm) {
       font-size: 2rem;
    }
}

h2 {
    @media (max-width: $information-mobile-sm) {
       font-size: 1.8rem;
    }
}

h3 {
    @media (max-width: $information-mobile-sm) {
       font-size: 1.5rem;
    }
}

h4 {
    @media (max-width: $information-mobile-sm) {
       font-size: 1.2rem;
    }
}

h5 {
    @media (max-width: $information-mobile-sm) {
       font-size: 1rem;
    }
}

h6 {
    @media (max-width: $information-mobile-sm) {
       font-size: 0.8rem;
    }
}


//border
.border-radius-0 {
    border-radius: 0px !important;
}

.border-none {
    border: 0px !important;
}

//color background
.background-light-green {
    background: $background-light-green;
}

.background-primary {
    background: $color-primary;
    color: $text-white;
}


.background-secondary {
    background-color: $color-secondary;
    color: $text-color;
}



.text-verified {
    color: $color-secondary-green;
}

//text styling
.text-decoration-underline {
    text-decoration: underline;
}

.text-white {
    color: $text-white;
}

.text-primary {
    color: $color-primary;
}

.text-secondary {
    color: $color-secondary !important;
}

.text-grey {
    color: $text-grey;
}

.text-color-light {
    color: $text-color-light !important;
}

.text-uppercase {
    text-transform: uppercase;
}



//spacing
.mt-8 {
    margin-top: 8px;
}

.mb-8 {
    margin-bottom: 8px;
}

.mt-16 {
    margin-top: 16px;    
}

.mb-16 {
    margin-bottom: 16px;
}

.mt-22 {
    margin-top: 22px;    
}

.mb-22 {
    margin-bottom: 22px;
}

.mt-24 {
    margin-top: 24px;    
}

.mb-24 {
    margin-bottom: 24px;
}

.mr-24 {
    margin-right: 24px;    
}

.ml-24 {
    margin-left: 24px;
}

.mt-28 {
    margin-top: 28px;    
}

.mb-28 {
    margin-bottom: 28px;
}

.mb-sm-3 {
    @media (max-width: $information-mobile-sm) {
        margin-bottom: 16px !important;
    }
}

.mt-30 {
    margin-top: 30px;    
}

.mb-30 {
    margin-bottom: 30px;
}

.mr-30 {
    margin-right: 30px;    
}

.ml-30 {
    margin-left: 30px;
}

//width
.w-100 {
    width:100%;    
}


.h-100 {
    height: 100%;
}


.w-min-250 {
    min-width: 250px;
}

.w-max-300 {
    max-width: 300px !important;
}

//overflow helper class
.overflow-hidden {
    overflow: hidden;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.overflow-y-hidden {
    overflow-y: hidden;
}

//flex and grid helper
.d-flex {
    display: flex;
}

.d-small-block {
    @media (max-width: $information-mobile-sm) {
        display: block !important; 
    }
}

.align-items-center {
    align-items: center;    
}

.justify-content-center {
    justify-content: center;
}

.justify-content-flex-end {
    justify-content: flex-end;
}


.justify-content-space-between {
    justify-content: space-between;
}

//section
.section {
    padding-top: 50px;
    padding-bottom: 50px;
 
    @media (max-width: $information-mobile-md) {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    &.section-compact {
        padding-top: 32px;
        padding-bottom: 32px;
        @media (max-width: $information-mobile-sm) {
            padding-top: 16px;
            padding-bottom: 16px;
        }
    }
}

//icon alignment
.material-icons {
    vertical-align: middle;
}


//title classes styling
.section-main-title {
    font-family: $poppins;
    font-size: 3rem !important;
    text-shadow: none;
    font-weight: $font-bold !important;
    line-height: 75px;
    padding: 2rem 0rem;

    @media (max-width: $information-mobile-xl) {
        font-size: 2.8rem !important;
        line-height: 48px;
        
    }

    @media (max-width: $information-mobile-md) {
        font-size: 2.4rem !important;
        line-height: 34px;
        padding: 1rem 0;
    }

    @media (max-width: $information-mobile-sm) {
        font-size: 1.5rem !important;
        line-height: 28px;
        padding: 0.5rem 0;
    }
}

.section-title {
    font-family: $poppins;
    font-size: 2.5rem;
    line-height: normal;
    font-weight: $font-bold;
    
    @media (max-width: $information-mobile-md) {
        font-size: 2.5rem;
    }

    @media (max-width: $information-mobile-sm) {
        font-size: 1.5rem;
    }
}

.section-sub-small-title {
    font-family: $poppins;
    font-size: 1.4rem;
    line-height: normal;
    font-weight: $font-bold;
    
    @media (max-width: $information-mobile-md) {
        font-size: 1rem;
    }
}

.section-subtitle {
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: $font-light;
    letter-spacing: 1px;
}

.section-wrapper-title {
    font-size: 1.5rem;
    font-family: $poppins;
    font-weight: $font-medium;
    @media (max-width: $information-mobile-md) {
        font-size: 1rem;
    }
}

.section-content {
    font-weight: $font-light;
    line-height: 36px;
    font-size: 1.2rem;
    color: $text-white;

    @media (max-width: $information-mobile-md) {
        line-height: 32px;
        font-size: 1rem;
    }

    @media (max-width: $information-mobile-sm) {
        font-size: 1.2rem;
        line-height: 24px;
        padding: 0.5rem 0;
    }
}


//button
.btn {
    border-radius: 4px;
    &.btn-primary {
        background-color: $btn-color;
        color: $text-white;
        border-color: $btn-color;
    }

    &.btn-secondary {
        border-color: $color-primary;
        background-color: transparent !important;
        color: $color-primary;
    }
}
